.button {
  position: relative;
  bottom: 1em;
  width: 80%;
  margin-left: 1%; /* Reducido para ocupar más espacio horizontal */
  height: 3.5em;
  gap: 0px;
  border: 1px solid #f94940;
  font-family: "DM Sans";
  font-size: 1.5em;
  font-weight: 500;
  line-height: 2em;
  text-align: center;
  background: transparent;
  color: #f94940;
  cursor: pointer;
  margin: 5em 1em 5em 1em; /* Reducido para ocupar más espacio horizontal */
  transition: background 0.3s ease, color 0.3s ease;
}

/* Añade media queries para adaptar el diseño a diferentes tamaños de pantalla */
@media (max-width: 600px) {
  .button {
    font-size: 1em; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }
}

@media (min-width: 430px) {
  .button {
    position: relative;
    bottom: 1em;
    width: 80%;
    height: 3.5em;
    gap: 0px;
    border: 1px solid #f94940;
    font-family: "DM Sans";
    font-size: 1.5em;
    font-weight: 500;
    line-height: 2em;
    text-align: center;
    background: transparent;
    color: #f94940;
    cursor: pointer;
    margin: 5em 0.5em 5em 1.5em; /* Reducido para ocupar más espacio horizontal */
    transition: background 0.3s ease, color 0.3s ease;
  }
}

.button:hover {
  background: #f94940;
  color: #fff;
}