.layout {
  width: 100%;
  max-width: 430px;
  height: auto;
  padding: 2em 0;
  background-color: #f94940;
  display: flex;
  flex-direction: column;
  gap: 3.5em;
}

.layout .text {
  width: 100%;
  max-width: 223px;
  height: auto;
  padding: 0 1.75em 0 2.5em;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.5em;
  text-align: left;
  color: white;
}

.layout .section {
  width: 100%;
  max-width: 430px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.layout .link {
  width: 100%;
  max-width: 430px;
  height: auto;
  padding: 1.3125em 1.75em;
  border-bottom: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
  font-family: "DM Sans", sans-serif;
  font-size: 2em;
  font-weight: 500;
  line-height: 2.6em;
  text-align: center;
  text-decoration: none;
  opacity: 1;
  color: #ededed;
}

.layout .link .arrow {
  margin-right: 3.375em;
}

.layout .newSection {
  width: 100%;
  max-width: 430px;
  height: auto;
  padding: 0 1.75em;
  display: flex;
  flex-direction: column;
  gap: 1.0625em;
}

.layout .subSection {
  width: 100%;
  max-width: 374px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.layout .officeText {
  font-family: "DM Sans", sans-serif;
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.5em;
  text-align: left;
  color: #ededed;
  text-transform: uppercase;
}

.layout .iconSection {
  width: 100%;
  max-width: 430px;
  height: 30px;
  padding: 0 1.75em;
  display: flex;
  justify-content: flex-start;
}

.layout .icon {
  width: 30px;
  height: 30px;
  border: none;
  margin-right: 0.9375em;
}

.layout .icon:last-child {
  margin-right: 0;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 480px) {
  .layout {
    gap: 2em;
  }

  .layout .text {
    line-height: 1.3em;
  }

  .layout .link {
    padding: 1em;
    line-height: 2em;
  }

  .layout .link .arrow {
    margin-right: 2em;
  }

  .layout .newSection {
  }

  .layout .officeText {
  }

  .layout .iconSection {
  }

  .layout .icon {
    margin-right: 0.7em;
  }
}