:root {
  --background-image: url("/bgpro.png");
  --bgProInv: url("/Rectangleinv.jpg");
  --background-imageinv: url("/Rectangleinv.jpg");
  --background-contacto: url("/Fondo.png");
  --background-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(105, 105, 105, 0) 30%
  );
}

.bgGral {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, transparent 5%),
    linear-gradient(to bottom right, #efcac8 0%, #ededed 38%);
  width: 100%;
  background-repeat: no-repeat;
}

.bgContacto {
  background-image: var(--background-contacto);
  background-repeat: no-repeat;
  width: 100%; /* Asegura que la imagen de fondo cubra todo el ancho del contenedor */
  height: 100%;
  position: absolute; /* Cambiado de 'relative' a 'absolute' */
  top: 0; /* Añadido para alinear la imagen con la parte superior del contenedor */
  object-fit: cover;
}

@media (max-width: 430px) {
  .bgContacto {
    background-image: var(--background-contacto);
    background-repeat: no-repeat;
    width: 100%; /* Asegura que la imagen de fondo cubra todo el ancho del contenedor */
    height: 100%;
    position: absolute; /* Cambiado de 'relative' a 'absolute' */
    top: 0; /* Añadido para alinear la imagen con la parte superior del contenedor */
    object-fit: cover;
    left: 5%;
  }
}

* {
  text-decoration: none;
}
.bgPro {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
  background-position: center;
  position: relative;
}

.bgPro2 {
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
}

.bgBlack {
  background-color: #0a0e0b;
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
}

.bgTransparent {
  background-color: #ededed;
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
}
