.mainDiv {
  width: 90%; /* Cambiado de px a % */
  height: auto; /* Cambiado de px a auto */
  position: relative;
  top: 50%; /* Cambiado de px a % */
  left: 2%; /* Cambiado de px a % */
  gap: 2%; /* Cambiado de px a % */
}

.imageDiv {
  width: 100%; /* Cambiado de px a % */
  height: auto; /* Cambiado de px a auto */
  gap: 0px;
  color: #ededed;
}

.textContainer {
  width: 80%; /* Cambiado de px a % */
  font-family: "DM Sans";
  height: auto; /* Cambiado de px a auto */
  position: relative;
  top: 15%; /* Cambiado de px a % */
  left: 10%; /* Cambiado de px a % */
  gap: 0px;
}

/* Añade media queries para adaptar el diseño a diferentes tamaños de pantalla */
@media (max-width: 600px) {
  .mainDiv {
    width: 100%; /* Cambiado de px a % */
    height: auto; /* Cambiado de px a auto */
    position: relative;
    top: 50%; /* Cambiado de px a % */
    left: 2%; /* Cambiado de px a % */
    gap: 2%; /* Cambiado de px a % */
  }
  
  .text1 {
    font-size: 28px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }
}