.Layout {
  overflow: auto;
  scrollbar-width: none; /* Para Firefox */
  width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
  height: 100vh; /* Ajusta la altura al 100% del viewport */
  display: flex; /* Utiliza flexbox para el layout */
  flex-direction: column; /* Organiza los hijos en una columna */
}

.Layout::-webkit-scrollbar {
  display: none; /* Para Chrome y Safari */
}

.container {
  flex-grow: 1; /* Permite que el contenedor crezca para ocupar el espacio disponible */
  overflow: auto; /* Permite el desplazamiento dentro del contenedor si es necesario */
}

@media (min-width: 430px) {
  .container {
    width: 430px; /* Establece el ancho a 430px en pantallas de 430px o más */
  }
}

.header {
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin-right: 10px;
}

.content {
  margin-top: 20px;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}
