.Layout {
  width: 100%; /* Ocupa todo el ancho disponible */
  height: auto;
  display: flex;
  flex-direction: column;
}

/* Estilos para pantallas con un ancho de hasta 430px (mobile) */
@media (max-width: 430px) {
  .Layout {
    margin: 0 auto;

  }
}

/* Estilos para pantallas con un ancho de más de 430px hasta 1280px (desktop) */
@media (min-width: 431px) and (max-width: 1280px) {
  .Layout {
    margin: 0 auto;
  }
}

/* Estilos para pantallas con un ancho de más de 1280px */
@media (min-width: 1281px) {
  .Layout {
    max-width: 1280px; /* Limita el ancho máximo del contenido */
    margin: 0 auto; /* Centra el contenido horizontalmente */
  }
}
